.ShopPageComponent {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    margin-top: -15vh;
    max-height: 100vh;
    background-color: var(--white);
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.filter-buttons-container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15vh;
    margin-bottom: 5vh;

}
.filterButtons p {
    margin: 0;
    font-family: "A Box For 1";
    font-size: min(7.5vw, 5em);
}
.activeSort {
    background-color: var(--red);
}
.activeSort p {
    font-family: "A Box For 2";
}
.product-list-container {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
}