.HomePageComponent {
        max-width: 100vw;
        margin-top: min(-15vh, -9rem);
        max-height: max(115vh, calc(100vh + 9rem));
        background-color: var(--red);
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
}
.Section {
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 80vh;
}
.ModelContainer {
    height: 100%;
    width: 40%;
    position: absolute;
    bottom: -4vh;
    background-image: url('../../Assets/Images/HomePage/background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
}

.Model {
    object-fit: contain;
    height: 100%;
    object-position: bottom;
}
.YWBYEContainer {
    height: 110%;
    width: 60%;
    margin-left: 40%;
}
.YWBYE {
    /* max-width: 1400px; */
    position: relative;
}
#youWont {
    max-width: 90%;
    min-height: 20%;
    object-fit: contain;
    top: 10%;
    left: -4%;
    rotate: -0.1rad;
}
#believe {
    width: 40%;
    min-height: 20%;
    object-fit: contain;
    rotate: 0.05rad;
    margin-left: 60%;
    top: 3.5%;
}
#yourEyes {
    width: 100%;
    min-height: 20%;
    object-fit: contain;
    rotate: 0.1rad;
    top: -5%;
    right: -5%;
}
.HomePageShopButtons {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    width: 64%;
    justify-content: space-evenly;
    rotate: 0.02rad;
}
.HomePageShopButtons{}


.FITSSection {
    background-color: var(--blue);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 0, 100% 7%, 100% 93%, 0 100%);
    position: relative;
    z-index: 1;
    flex-direction: column;
}
#FITS {
    position: absolute;
    width: 100%;
    bottom: -15%;
}
.FITSSection > h1, .FITSSection > h2 {
    color: var(--white);
    font-family: 'Varygraphie';
}
.FITSSection > h2 {
    margin-top: max(15vh, 9rem);
    margin-left: max(4vw, 3rem);
    font-size: 3rem;
    rotate: -1.5deg;
}
.FITSSection > h1 {

    font-size: 2.6rem;
    margin-top: 0;
    font-size: 8rem;
    margin-left: 5%;
    rotate: -2deg;
}
#FITSButton {
    position: absolute;
    bottom: 15%;
    left: 20%;
}
.AboutSection {
    background-color: var(--green);
    position: relative;
    top: min(-10vh, -6rem);
    flex-direction: column;
}
.AboutSection > h1 {
    margin-top: max(10vh, 6rem);
    font-family: 'Portia';
    font-size: max(5vw, 3rem);
    align-self: flex-end;
    margin-right: 5%;
    color: var(--white);
}

.AboutSection > p {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Noir';
    color: var(--white);
    font-size: 2vw;
}
.AboutSection > a {
    position: absolute;
    bottom: 20%;
    right: 15%;
}
.spacerSection {
    background: rgb(252,81,48);
background: linear-gradient(0deg, var(--black) 1%, rgba(124,169,130,1) 100%);
position: relative;
top: min(-15vh, -9rem);
margin-bottom: min(-15vh, -9rem);
}


@media only screen and (max-width: 1500px) {
    #FITS {

        height: 150%;
        width: auto;
        bottom: min(-15vh, -9rem);
        right: max(-60vw, -18rem);

    }
    .YWBYESection{
        flex-direction: column;
    }
    .ModelContainer {
        width: 100%;
        height: 55%;
        clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 90%);    
        background-color: rgba(0,0,0,0.5);
    }
    .Model {

        position: relative;
        left: -15%;
    }
    .YWBYEContainer {
        margin: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #youWont {
        rotate: -0.1rad;
        width: 70%;
        left: 10%;
    }
    #believe {
        top: -0%;
        right: 30%;
        rotate: -0.2rad;
    }
    #yourEyes {
        top: -9%;
        rotate: -0.14rad;
        width: 90%;
        left: 5%;
    }
    .SectionSpacer {
        height: 5vh;
        width: 100%;
        position: relative;
        z-index: 5;
    }
    .HomePageShopButtons {
        flex-direction: column;
        width: 50%;
        height: 50%;
        right: 4%;
        bottom: -4%;
    }
    .FITSSection {
        background-position: center;
    }
    .FITSSection > h2 { 
        font-size: 1.5rem;
        align-self: center;
        margin-top: max(10vh, 6rem);
    }
    .FITSSection > h1 {
        font-size: 2.6rem;
        align-self: center;
    }
    #FITSButton {
        bottom: 25%;
        left: 5%;
    }
    .AboutSection > p {
        font-size: 5vw;
    }
}