.HomePageComponent {
        max-width: 100vw;
        margin-top: min(-15vh, -9rem);
        max-height: max(115vh, calc(100vh + 9rem));
        background-color: var(--red);
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
}
.Section {
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 80vh;
}
.ModelContainer {
    height: 100%;
    width: 40%;
    position: absolute;
    bottom: -4vh;
    background-image: url('../../Assets/Images/background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
}

.Model {
    object-fit: contain;
    height: 100%;
    object-position: bottom;
}
.YWBYEContainer {
    height: 110%;
    width: 60%;
    margin-left: 40%;
}
.YWBYE {
    /* max-width: 1400px; */
    position: relative;
}
#youWont {
    max-width: 107.5%;
    min-height: 20%;
    object-fit: contain;
    top: 10%;
    left: -4%;
    rotate: -0.1rad;
}
#believe {
    width: 40%;
    min-height: 20%;
    object-fit: contain;
    rotate: 0.05rad;
    margin-left: 60%;
    top: 3.5%;
}
#yourEyes {
    width: 115%;
    min-height: 20%;
    object-fit: contain;
    rotate: 0.1rad;
    top: -5%;
    left: -6%;
}
.HomePageShopButtons {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    width: 64%;
    justify-content: space-evenly;
    rotate: 0.02rad;
}
.HomePageShopButtons{}


.FITSSection {
    background-color: var(--blue);
    clip-path: polygon(0 0, 100% 7%, 100% 98%, 0 100%);
}
.AboutSection {
    background-color: var(--green);
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 100%);
}


@media only screen and (max-width: 1500px) {
    .YWBYESection{
        flex-direction: column;
    }
    .ModelContainer {
        width: 100%;
        height: 55%;
        clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 96%);    
        background-color: rgba(0,0,0,0.5);
    }
    .Model {

        position: relative;
        left: -15%;
    }
    .YWBYEContainer {
        margin: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #youWont {
        rotate: -0.1rad;
        width: 80%;
        left: 10%;
    }
    #believe {
        top: -0%;
        right: 30%;
        rotate: -0.2rad;
    }
    #yourEyes {
        top: -9%;
        rotate: -0.14rad;
        width: 90%;
        left: 5%;
    }
    .SectionSpacer {
        height: 5vh;
        width: 100%;
        position: relative;
        z-index: 5;
    }
    .HomePageShopButtons {
        flex-direction: column;
        width: 50%;
        height: 50%;
        right: 4%;
        bottom: -4%;
    }
}