@media only screen and (min-width: 992px) {
.ProductComponent {
    max-width: 30rem;
    width: 20vw;
    padding: 2vh 1vw;
    transition: rotate 0.2s ease;
    
    
}

.productTitle {
    font-size:calc(min(3.4vw, 5rem));
}
.the {
    margin: 0;
}
.productPrice {
    font-size: calc(max(2vw, 1.5rem)); 
}
.productPriceVariants { 
    width: 25%;
}
.productVariants {
    height: 50%;
}

}
