.ProductComponent {
    min-width: 7.5rem;
    max-width: 30rem;
    width: 20vw;
    padding: 2vh 1vw;
    margin: 3vh 1.5vw;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 1vh 1vw;

}
.ProductComponent img {
    display: block;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
    outline: 3px dashed var(--black);
    
}

.productTitle {

    font-size:calc(min(3.4vw, 5rem));
    outline: 1px solid green;
    margin: 0;
    
}
.the {
    font-family: 'Portia Oblique';
    font-size:calc(max(2vw,1.5rem));
    rotate: -90deg;
    margin: 0;
    width: calc(max(2vw, 5rem));
    outline: 1px solid blue;
    text-align: right;
}
.titleContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Portia';
    outline: 1px solid red;
    height: 7.5vh;
    margin-top: 2vh;
    min-height: calc(9rem / 2);
}
.productPrice {

    font-size: calc(max(2vw, 1.5rem));
    
    outline: 1px solid purple;
    align-self: flex-start;
    margin: 0;
    margin-left: auto;
}