header{
    position:absolute;
    overflow:hidden;
    z-index: 10;
    width: 100vw;
    height: max(15vh, 9rem);
    background-color: var(--black);
    clip-path: polygon(0 0, 0 100%, 100% 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-cart {
display: flex;
min-height: 3rem;
max-height: 3rem;
margin-left: 5vw;
margin-right: auto;
width: 4rem;
justify-content: space-between;
align-items: center;

}
.SpacerLogo {
 transition: mix-blend-mode 0.2s ease;
 isolation: isolate;
 /* mix-blend-mode:difference; */

}
.hamburger {
    color: var(--red);
    cursor: pointer;
    transition: color 0.2s ease, transform 0.2s ease;
    height: 3rem;
}
.menu-cart p {
    font-size: 3em;
    margin: 0;
    margin-bottom: -0.5rem;
    width: 3rem;
    text-align: center;

}
.cartCountContainer {
  position: relative;
  margin: 0;
  z-index: 10;
  width: 2vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: auto;
  margin-left: auto;
  right: max(5vw, 3rem);

}
#shoppingBag {
  height: 125%;
  min-width: 5rem;
  object-fit: contain;
  position: absolute;
  margin-left: 1vw;
  top: min(-2vh, -1rem);
  min-height: 3rem;
  transition: opacity 0.2s ease;

}
.cartCountContainer p {
  font-size: max(4vw, 3rem);
  margin: 0;
  position: relative;
  z-index: 5;



}
.hamburger-container {

    width: 5rem;
    display: flex;
    justify-content: center;
  }
  .hamburger-container:hover > .hamburger {
    color: var(--white);
    -moz-transform: scale(0.9, -1);
    -webkit-transform: scale(0.9, -1);
    -o-transform: scale(0.9, -1);
    -ms-transform: scale(0.9, -1);
    transform: scale(0.9, -1);
  }
  p#cart-count {
position: relative;
bottom : 0vh;
  }

.logo {
  width: 50vw;
  max-height: calc(var(--vh, 1vh) * 15);
position: absolute;
max-width: 840px;
-moz-user-select: none;
-webkit-user-select: none;
user-select: none;
cursor: pointer;
}