#LoadingPageComponent {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: var(--black);
    top: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
#LoadingImage {
    filter: invert(100%);
    mix-blend-mode: exclusion;
    opacity: 0.5;

}
.MYL {
    width: 50%;
}
.A {
    width: 10%;}