
@media only screen and (min-width: 992px) {


    .closeMenuContainer p {

        font-size: max(15vh, 9rem);
    }

.menuTopAccent {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
  }
  .menuCart {
    font-family: Portia;
    font-size: 8em;
    color: var(--red);
    margin-right: 1em;
    margin-top: 1.3em;
    
}
.menuMain {
    display: flex;
    justify-content: center;
    position: relative;

}
  .menuContainer {
      display: flex;
      width: 50%;
  }
  .menuList {
      display: flex;
      flex-direction: column;
      width: 50vw;
      justify-content: center;
      align-items: flex-start;
      position: absolute;
      top: min(-15vh, -9rem);
  }
  .menuList li {
      list-style:none;

      font-size: 8em;
      width: -moz-fit-content;
      width: fit-content;
      
  }

 .menuList li:nth-child(1) {
    margin-top: 0vh;
     rotate: -10deg;
}

.menuList li:nth-child(2) {
    rotate: -8deg;
    margin-left: 2em;
}
.menuList li:nth-child(3) {
    rotate: -12deg;
    margin-left: 3em;
}
.menuList li:nth-child(4) {
    rotate: -7deg;
    margin-left: 4em;
    margin-bottom : 1em;
} 
.menuList li:nth-child(1), .menuList li:nth-child(3) {
    font-family: 'A Box For 1';
}
.menuList li:nth-child(2), .menuList li:nth-child(4) {
    font-family: 'A Box For 2';
}
.menuList li a:hover {
    font-family: 'A Box For 3';
    color: var(--red);
}
.menuList li a:active {
    color: var(--white);
    background-color: var(--red);
}


.menuMain header {
margin-bottom: 0;

outline: 1px solid white;
}
}