@media only screen and (min-width: 992px) {
    #NTSH {
        margin-top: 0;
    }
    #binos {
        height: 30vh;
        margin-top: 0;
    }
    #cartImg {
        height: 20vh;
    }
    .cartListItem {
        padding: 3vh 5vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        color: var(--white);
        display: flex;
        height: 30vh;
    }
    .cartList {
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    /* .cartListItem:nth-child(even) {
        background-color: var(--red);
        transform: rotate(calc(var(--rotateBy) /2 ));
        margin-top: -2vh; 
        margin-bottom: -2vh;
    } */

    }