.ProductPageComponent {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    margin-top: -15vh;
    max-height: 100vh;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* */
.productTitleContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    position: relative;
    top: max(-10vh, -6rem);
    z-index: 0;
    mix-blend-mode: lighten;
    color: var(--black);

}

.backButton {
    position: absolute;
    top: max(15vh, 9rem);
    font-size: min(15vw, 3rem);
    font-family: 'A Box For 1';
    margin: 0;
    margin-top: max(0vh, 0rem);
    margin-left: 3vw;
    width: 10%;
    align-self: flex-start;
    

    
}
.ProductPageComponent h1, .ProductPageComponent h2 {
    
    margin: 0;
    text-align: right;
    mix-blend-mode: darken;
    
}
.ProductPageComponent h1 {
    font-family: 'Portia';
    font-size: min(20vw, 4rem);
    padding-right: 5%;
}
.ProductPageComponent h2 {
    font-family: 'Portia';
    font-size: min(10vw, 2rem);
    height: 4vh;
    padding-right: 2vw;

}
.descriptionContainer {
    height: -moz-fit-content;
    height: fit-content;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
}
.descriptionContainer p {
    font-family: 'Noir';
    font-size: min(5vw, 2rem);
}