.ProductPageComponent {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    margin-top: min(-15vh, -9rem);
    max-height: 100vh;
    min-height: 100vh;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--black);
    scroll-behavior: smooth;
}
/* */


.backButton {
    position: absolute;
    bottom: max(10vh, 6rem);
    right: 15vw;
    color: var(--white);
    font-size: min(15vw, 3rem);
    font-family: 'A Box For 1';
    margin: 0;
    margin-top: min(-3vh, -1rem);
    width: 10%;
    align-self: flex-end;
    z-index: 10;

}
.productTitleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     /* min-height: max(25vh, 15rem); */
     /* clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%); */
    position: relative;
    top: -5rem;
    left: 2rem;
     z-index: 15;

}
.TitleDescription {
    position: relative;
    background-color: var(--black);
}
.cartOptionsContainer {
    background-color: var(--black);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: max(30vh, 18rem);
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
    transform: translateZ(0);    
    position: relative;
    margin-top: min(-15vh, -9rem);
}

.priceContainer {
    display: flex;
    font-family: 'portia';
    justify-content: flex-end;
    margin-right: 2vw;

}
#price {
    font-size: max(4rem);
    color: var(--white);

}
#cents {
    font-size: max(2rem);
    color: var(--white);
    line-height: 7rem;
}
.ProductPageComponent h1, .ProductPageComponent h2 {
    color: var(--white);
    margin: 0;

    
}
.slideShowContainer {
min-width: 100vw;
transition: height 0.2s ease;
}
.ProductPageComponent h1 {
    font-family: 'Portia';
    font-size: min(20vw, 4rem);
    padding-right: 2vw;
}
.ProductPageComponent h2 {
    font-family: 'Portia';
    font-size: min(10vw, 2rem);
    height: 4vh;
    padding-right: 2vw;

}
.descriptionContainer {
    height: -moz-fit-content;
    height: fit-content;
    width: 100vw;
    background: var(--black);
    position: relative;
    z-index: 3;


}
.descriptionContainer p {
    font-family: 'Noir';
    font-size: min(5vw, 2rem);
    color: var(--white);

    margin: 0;

    padding-left: 5vw;
    padding-right: 5vw;
}
.descriptionContainer h2 {
    padding-top: 10vh;
    padding-bottom: 5vh;
    padding-left: 6vw;
    font-size: 3rem;
    color: var(--white);
}

.cartOptionsContainer button {
    background-color: transparent;
    border: none;
    font-family: 'Noir';
    color: var(--white);
    font-size: 1.2rem;
    height: 10vh;
}
#productTrash {
    color: var(--white);
}

.ProductPageComponent .spacer {
    background-color: var(--black);
}
.ProductPageComponent #quantButton {
    width: 10vh;
    font-size: 2rem;
    cursor: pointer;
    
}
#quantButton p {
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
}
#ICNIC p {
    -webkit-user-select: none;
    user-select: none;
}
.variantsContainer {
    position: absolute;
    z-index: 5;
    display: flex;
    align-self: flex-end;
    right: 0;
    top: 15%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    pointer-events: none;
}
.variantsContainer > * {
    padding: 0 1rem;
    z-index: 7;
    pointer-events: all;
}
.variantsContainer img {
    
    height: max(5vh, 2rem);
    right: 2vw;
    bottom: -10vh;
}
.variantsContainer img:nth-child(1) {
    background-color: var(--white);
}
.variantsContainer img:nth-child(2) {
    background-color: var(--white);
    right: 4rem;

}
.CartButtonsContainer {
    align-self: center;
    position: relative;
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: max(5vh, 3rem);

}

#ICNIC {
    flex: 1;
    justify-content: center;
    display: flex;
}
#inCart, #notInCart {
    width: max(15vw, 300px);
}
#removeCart {
    position: absolute;
    bottom: 0vh;
    left: 15vw;
    background: var(--red);
    z-index: 10;
    clip-path: polygon(13% 31%, 100% 0, 90% 81%, 0 100%);
    transform: scaleZ(1);
}
#removeCart p {
    margin: 0;
    margin-top: 10%;
    transform: skew(0.1rad, -0.2rad)
}
.variantsContainer p {
    color: var(--white);
    right: 5vw;
    font-family: 'Noir';
    bottom: -5vh;
}
.Variant {
    border: 3px solid var(--black);
    transition: border 0.2s ease;
}
.activeVariant {
    border: 3px solid var(--red);
}