@media only screen and (min-width: 992px) {
    .ProductPageComponent {
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
.slideShowContainer {
    max-width: 50vw;
    min-height: 85vh;

   min-width: 50vw;
    margin-top: min(-25vh, -18rem);
    margin-bottom: min(-15vh, -9rem);


}
.productTitleContainer {
    z-index: 0;
    clip-path: unset;

}
.productTitleContainer h1 {
    margin-top: 15vh;
    margin-right: 10vw;
}
.CartButtonsContainer {
    max-width: 50%;
    justify-content: center;
    margin-top: 0;
    margin-right: 4vw;
}
.desktopDivider {

    width: 50vw;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}
.cartOptionsContainer {
    background: transparent;
    color: var(--black);
    clip-path: unset;
    margin-top: 0vh;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: unset;
}
#productTrash {
    color: var(--black);
}

.cartOptionsContainer p {
    color: var(--black);
    flex-direction: column;

}
.descriptionContainer {
    background-color: transparent;
    color: var(--black);
    width: unset;
}
.priceContainer {
    color: var(--black);
    transform: rotate(var(--rotateBy)) translateY(-3vh);
}
.variantsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    transform: rotate(calc(var(--rotateBy)/2)) translateY(-5vh);
    
}
.variantsContainer p {
    color: var(--black);
    position: unset;
    margin-right: 2vw;
}
.variantsContainer img {
    position: unset;
    margin-right: 2vw;
    object-fit: contain;
    height: 3vh;
}
.descriptionContainer h2 {
    color: var(--black);
    padding: unset;
    padding-right: 15vw;
    padding-bottom: 5vh;
}
.descriptionContainer p {
    color: var(--black);
    font-size: min(3vw, 1.4rem);
    padding-left: 10vw;
    padding-right: 15vw;
}
.ProductPageComponent .spacer {
    height: max(15vh, 9rem);
    clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
    position: relative;

}
.ProductPageComponent h1, .ProductPageComponent h2 {
    text-align: right;
}
.backButton {
    display: unset;
    bottom: 15vh;
    top: unset;
    color: var(--white);
    right: 0;
}
#removeCart {
    left: 15vw;
    bottom: -10vh;
    clip-path: polygon(0 30%, 85% 16%, 100% 80%, 8% 80%);}
#removeCart p {
    transform: skew(-0.1rad, 0.15rad);
    padding: 0 1vw;
}
#inCart, #notInCart {
    width: 20vw;
}
    }