@media only screen and (min-width: 992px) {
    .ProductPageComponent {
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: var(--white);
    }
    
.slideShowContainer {
    max-width: 50vw;
    min-height: 85vh;
    overflow-y: hidden;
    overflow-x: hidden;
   min-width: 50vw;
    /* margin-bottom: min(-15vh, -9rem); */


}
.productTitleContainer {
    z-index: 0;
    clip-path: unset;
    background-color: var(--white);

}
.TitleDescription {
    background-color: unset;
}
.productTitleContainer h1 {
    margin-right: 10vw;
}
.CartButtonsContainer {
    max-width: 50%;
    justify-content: center;
    margin-top: 0;
    margin-right: 4vw;
}
.desktopDivider {
    background-color: var(--white);
    flex: 1;
    width: 50vw;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    min-height: 85vh;
    justify-content: center;
}
.cartOptionsContainer {
    background: transparent;
    color: var(--black);
    clip-path: unset;
    margin-top: 0vh;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: unset;
}
#productTrash {
    color: var(--black);
}
#quantButton {
    width: 10vh;
    font-size: 2rem;
    cursor: pointer;
}

.cartOptionsContainer p {
    color: var(--black);
    flex-direction: column;

}
.descriptionContainer {
    background-color: transparent;
    color: var(--black);
    width: unset;
}
.priceContainer {
    color: var(--black);
    transform: rotate(var(--rotateBy)) translateY(-3vh);
}
.variantsContainer {
    width: 100%;
    bottom: -115%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: rotate(var(--rotateBy));
    
}
.variantsContainer p {
    position: unset;
    color: var(--black);
}
.variantsContainer img {
    position: unset;
    object-fit: contain;
    height: 3vh;
}
.descriptionContainer h2 {
    color: var(--black);
    padding: unset;
    padding-right: 15vw;
    padding-bottom: 5vh;
}
.descriptionContainer p {
    color: var(--black);
    font-size: min(3vw, 1.4rem);
    padding-left: 10vw;
    padding-right: 15vw;
}
.ProductPageComponent .cutoutSpacer {
    width: 100vw;
    background-color: var(--black);

    height: max(15vh, 9rem);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    position: absolute;
    z-index: 1;
    bottom: max(15vh, 9rem);


}
.ProductPageComponent .spacer {
    position: absolute;
    z-index: 1;
    min-height: unset;
    height: max(15vh, 9rem);
    bottom: 0;


}
.ProductPageComponent h1, .ProductPageComponent h2 {
    text-align: right;
    color: var(--black);
}
.backButton {
    display: unset;
    bottom: 15vh;
    top: unset;
    color: var(--white);
    right: 0;
}
#removeCart {
    left: 15vw;
    bottom: -10vh;
    clip-path: polygon(0 30%, 85% 16%, 100% 80%, 8% 80%);}
#removeCart p {
    transform: skew(-0.1rad, 0.15rad);
    padding: 0 1vw;
}
#inCart, #notInCart {
    width: 20vw;
}
#price, #cents {
    color: var(--black);
}
    }