
  .SlideShow {
    width: 100vw;
    min-height: 60vh;
    touch-action: pan-x;
  }
.SlideShow img {
    /* height: max(60vh, 36rem); */
    width: 100vw;
    position: relative;
    /* clip-path: polygon(0 0, 100% calc(var(--rotatedClipHeight) * -100%), 100% 100%, 0 calc(100% -(var(--rotatedClipHeight) * -100%)));  */
    /* clip-path: polygon(100% 15%, 100% 100%, 0 85%, 0% 0%); */

  }
  
  .next,
  .prev {
    position: absolute;
    color: var(--red);
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 2;
    top: 50%;
  }
  
  .next {
    bottom: -7.5%;
    right: 20%;
    transform: scale(-1, 1);
  }
  
  .prev {
    bottom: -7.5%;
    left: -5%;
  }
  

  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #BackButton, #NextButton {
    fill: var(--black);
    height: 5vh;
}