@media only screen and (min-width: 992px) {
    .SlideShow {
    }
    .SlideShow img {

        width: 100%;
        object-position: 50%;
        object-fit: cover;
        height: 80vh;
    }
    .prev, .next {
        width: 10vw;
    }
    .next > svg, .prev > svg {
        width: 100% !important;
      }
    .prev > svg {
        padding-bottom: 1rem;
    }
    .next > svg {
        padding-bottom: 2rem;
    }
    }