
  .SlideShow {
    min-height: 40vh;
  }
.SlideShow img {
    width: 100vw;
    height: auto;
    clip-path: polygon(100% 0, 100% 70%, 30% 100%, 0 100%, 0 0);
    position: relative;

}
  
  .next,
  .prev {
    top: calc(50%);
    position: absolute;
    color: var(--red);
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 2;
  }
  
  .next {
    right: 10px;
    transform: scale(-1, 1);
  }
  
  .prev {
    left: 10px;
  }
  

  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #BackButton, #NextButton {
    fill: var(--black);
    height: 5vh;
}
#NextButton {

}