@media only screen and (min-width: 992px) {
    .SlideShow {

    }
    .SlideShow img {

        width: 100%;
        object-position: 50%;
        object-fit: cover;
        height: 80vh;
    }
    .prev, .next {
        top: 65%;


    }
    .prev {
        left: 10%;
    }
    }