:root {
  --black: #0C0C0C;
  --red: #FC5130;
  --white: #F5F5F5;
  --green: #7CA982;
  --blue: #0D00A4;

}
body{margin: 0;
max-width: 100vw;
}
#root {
  background-color: var(--white);
}
.Content {
  overflow-y: visible;
  
}
html {
  overflow: -moz-hidden-unscrollable;
  overflow: -webkit-hidden-unscrollable;
  overflow: hidden;
}

.white-bg {
  background-color: var(--white);
}
.red-bg {
  background-color: var(--red);
}

@media only screen and (min-width: 992px) {
  .HomePage {height: 120vh;}
}
.button {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}