:root {
  --black: #0A0A0A;
  --red: #FC5130;
  --white: #F5F5F5;
  --green: #7CA982;
  --blue: #0D00A4;
  --menuColor: var(--red);
}
body{margin: 0;
max-width: 100vw;
}
#root {
  background-color: var(--black);
}
.Content {
  overflow-y: visible;
  
}
html {
  overflow: -moz-hidden-unscrollable;
  overflow: -webkit-hidden-unscrollable;
  overflow: hidden;
}

.white-bg {
  background-color: var(--white);
}
.red-bg {
  background-color: var(--red);
}
#logo {
  width: 100%;
  position: relative;
  z-index: 3;
}

.header-spacer {
  height: max(15vh, 9rem);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; 
}
a {
  text-decoration: none;
  color: inherit
}

@media only screen and (min-width: 992px) {

}
.button {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}