

.menu {
    width: 100vw;
    background-color: #0C0C0C;

}
.closeMenuContainer, .closeMenu p {

    position: absolute;
    bottom: 2em;
    right: 5em;
    margin: 0;
    padding: 1em;
    cursor: pointer;
}
.closeMenuContainer p {
    color: #FC5130;
    font-family: "Portia";
    font-size: 10em;
    margin: 0;
    transition: color 0.2s ease, transform 0.2s ease,
    
}
.closeMenuContainer:hover > p {
    color: #F5F5F5;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.menuTopAccent {
    background: rgba(252,81,48,1);
    background: linear-gradient(175deg, rgba(252,81,48,1) 50%, rgba(252,81,48,0) 50.5%, rgba(0,0,0,0) 100%);
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: flex-end;
  }
  .menuCart {
    font-family: Portia;
    font-size: 8em;
    color: var(--red);
    rotate: -5deg;
    margin-right: 1em;
    margin-top: 1.3em;
    
}
.menuMain {
    margin-top: -3.4em;
    display: flex;
    justify-content: center;
    max-height: 100%;
}
  .menuContainer {
      display: flex;
      width: 50%;
  }
  .menuList {
      display: flex;
      flex-direction: column;
      width: 50%;
  }
  .menuList li {
      color: var(--white);
      list-style:none;

      font-size: 8em;
      width: fit-content;
  }
  .menuList li a {
      color: var(--white);
      text-decoration: none;
  }
 .menuList li:nth-child(1) {
     rotate: -10deg;
}
.menuList li:nth-child(2) {
    rotate: -8deg;
    margin-left: 1em;
}
.menuList li:nth-child(3) {
    rotate: -12deg;
    margin-left: 2em;
}
.menuList li:nth-child(4) {
    rotate: -7deg;
    margin-left: 3em;
} 
.menuList li:nth-child(1), .menuList li:nth-child(3) {
    font-family: 'A Box For 1';
}
.menuList li:nth-child(2), .menuList li:nth-child(4) {
    font-family: 'A Box For 2';
}
.menuList li:hover {
    font-family: 'A Box For 3';
    color: var(--red);
}


.menuMain header {
margin-bottom: 0;

outline: 1px solid white;
}
