.shopPage {
    height: 100vh;
    background-color: var(--white);
    overflow: hidden;
}
.filter-buttons-container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    max-height: 5em;
}
.filterButtons p {margin: 0}
.activeSort {
    background-color: var(--red);
}